@use "variables" as v;

// ==========================================================================
// 1. レイアウト・インナー幅（中央寄せ基盤）
// ==========================================================================
.u-wrap {
    width: 100%;
    max-width: v.$inner-max;
    padding-left: v.$inner-padding;
    padding-right: v.$inner-padding;
    margin-left: auto;
    margin-right: auto;
}

// ==========================================================================
// 2. フレックスボックス（レイアウトの補助用）
// ==========================================================================
.u-flex {
    display: flex !important;
}
